<div class="flex flex-col items-center py-6 text-text-dim">
    <p>player INSERT NAME HERE</p>
    <div class="flex flex-row">
        @for (card of hand().cards; track card; let i = $index) {
        <app-playing-card [card]="{ value: card.value, suit: card.suit}"
            [style.transform]="'rotate(' + fanAngle(i, hand().cards.length) + 'deg) translateY(var(--ty, 0px))'" />
        }
    </div>


    <div>
        Score: {{hand().score}}
    </div>
    <div>
        <button (click)="hit.emit()" [disabled]="status() !== 'PlayerTurn'">HIT</button>
        <button (click)="stand.emit()" [disabled]="status() !== 'PlayerTurn'">Stand</button>
    </div>
</div>